* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	font-family: 微軟正黑體;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	/*border: solid 2px;*/
}

img {
	display: block;
}

input:not([type="checkbox"]), select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select {
    margin: 0 auto;
    width: 100%;
    height: 40px;
    line-height: normal;
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    color: #555555;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 5px 15px;
    text-align: left;
    background-color: #fff;
}

input:not([type="checkbox"]) {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    line-height: normal;
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    color: #555555;
    font-size: 18px;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 5px 15px;
    text-align: left;
}
 
html, body {
	width: 100%;
	height: 100%;
	color: #333333;
	background-image: url("../images/bg.jpg"); 
	-webkit-text-size-adjust: none;
	-webkit-overflow-scrolling : touch;
}

.wrapper {
	/*display: flex;
    align-items: center;
    justify-content: center;*/
    width: 100%;
    height: 100%;
    /*height: 100vh;*/
    /* border: 1px solid #000; */
    /*padding: 15px 30px;*/
    padding: 15px 0px;
}

.content {
	width: 100%;
	height: 100%;
	/*position: relative;*/
}

.pageWrap {
	margin: 0px auto;
}

.kv {
	display: block;
	width: 100%;
}

.page1 {
	padding: 10px 30px;
}

.stepWrap {
	margin: 15px auto;
}

.stepTxt {
	font-size: 18px;
	font-weight: bold;
	color: #663300;
	letter-spacing: 0.2em;
}

#btnPlay {
	display: block;
    margin: 0 auto;
    margin: 0px auto 10px;
    width: 100%;
    height: 40px;
    /*line-height: 40px;*/
    border-radius: 4px;
    color: #fff;
    background-image: url("../images/btnPlay.png");
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 0px 10px;
}

.readFirst {
	display: block;
	margin: 13px 25%;
}

.readFirst img {
	width: 100%;
}

.eventTitle {
	color: #666666;
	font-size: 16px;
	margin-top: 13px;
}

.rememberWrap{
    padding: 15px 30px;
}

.rememberWrap img {
    width: 100%;
}

#btnBack {
    display: block;
    margin: 0 auto;
    margin: 20px auto 15px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    color: #fff;
    background-image: url("../images/btnPlay.png");
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 0px 10px;
}

.shakingAlertWrap {
	display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /*height: 100vh;*/
    /* border: 1px solid #000; */
    /*padding: 30px;*/
    display: none;
}

.phoneShaking {
	display: block;
	width: 100%;
	animation: shaking 1s infinite;
}

.shakingTxt {
	font-size: 28px;
	font-weight: bold;
	margin: 20px auto;
}

.result,
.resultOpen {
	display: none;
	width: 100%;
}

#showArea {
	display: none;
	text-align: left;
	position: relative;
	padding: 15px 30px;
}

#showArea.move {
	display: block;
}

.resultIcon {
	display: block;
	position: absolute;
	width: 150px;
	top: 15px;
	right: 10px;
	z-index: 999;
}

#showArea.move form {
	/*animation-delay: 8s;*/
	/*animation: showResult 3s;*/
}

#showArea h2 {
	margin: 15px auto 0px;
	text-align: left;
	font-size: 20px;
}

#showArea h2:first-child {
	margin: 0px auto 0px;
}

#showArea p {
	text-align: left;
	font-size: 18px;
}

#showArea .txtRed {
	font-size: 26px;
	color: #990000;
	margin: 10px auto 30px;
}

#showArea hr {
	height: 2px;
    background-color: #663300;
    border: none;
}

.ad {
    margin: 30px auto 20px;
}

.ad img {
    width: 100%;
}

#btnReload {
    display: block;
    margin: 0 auto;
    margin: 0px auto 10px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    color: #fff;
    background-image: url("../images/btnPlay.png");
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 0px 10px;
}

@-webkit-keyframes shaking {
  /*25% { top: -3px; }
  75% { top: 1px; }*/
  /*0% {transform: skewX(20deg);transform-origin: 0% 100%;}
  50% {transform: skewX(-20deg);transform-origin: 0% 100%;}
  100% {transform: skewX(20deg);transform-origin: 0% 100%;}*/
  0% {transform: rotate(20deg);}
  50% {transform: rotate(-10deg);}
  100% {transform: rotate(20deg);}
  
}

/*@-webkit-keyframes showResult {
  0% {
    -webkit-transform: translate( 0, 100%);
            transform: translate( 0, 100%);
            opacity: 0;
  }

  100% {
    -webkit-transform: translate( 0, 0);
            transform: translate( 0, 0);
  			opacity: 1;
  }
}*/